name: Test

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  check:
    name: Cargo checks
    runs-on: ubuntu-latest
    env:
      SCCACHE_GHA_ENABLED: "true"
      RUSTC_WRAPPER: "sccache"
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt
      - uses: mozilla-actions/sccache-action@v0.0.9

      - name: cargo check
        run: cargo check

      - name: cargo fmt
        run: cargo fmt --check

      - name: cargo clippy
        run: cargo clippy -- -D warnings

  test:
    name: Cargo tests
    runs-on: ubuntu-latest
    env:
      SCCACHE_GHA_ENABLED: "true"
      RUSTC_WRAPPER: "sccache"
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
      - uses: mozilla-actions/sccache-action@v0.0.9

      - name: cargo test
        run: cargo test
